.dialogue-fade {
    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}

.dialogue {
    position: absolute;
    top: 75%;
    left: 50%;

    max-height: 25%;
    max-width: 800px;
}

.dialogue .item {
    color: rgb(255, 255, 255);
    font-size: 16pt;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    text-align: center;

    margin: 8px;
}

.dialogue .title {
    color: rgb(255, 0, 98);
}

.dialogue .content {
    color: rgb(255, 255, 255);
}

.dialogue .content .hidden {
    opacity: 0;
}